USE [ClinicManagement]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[DoctorID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[AppointmentDate] [date] NULL,
	[AppointmentTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[TotalAmount] [decimal](15, 3) NOT NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnoses]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses](
	[DiagnosisID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NULL,
	[Symptoms] [nvarchar](255) NULL,
	[Diagnosis] [nvarchar](255) NULL,
	[Prescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiagnosisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnoses_Services]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses_Services](
	[DiagnosisID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ServiceResultReport] [nvarchar](max) NOT NULL,
	[UserIDperformed] [int] NOT NULL,
	[RoomID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Specialization] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Price] [decimal](15, 3) NOT NULL,
	[StockQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DOB] [date] NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosisID] [int] NULL,
	[MedicineID] [int] NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Price] [decimal](15, 3) NOT NULL,
	[ServiceParentID] [int] NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedules]    Script Date: 17-May-25 12:41:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedules](
	[WorkScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[DoctorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [Status], [AppointmentDate], [AppointmentTime]) VALUES (1, 1, 2, N'Đã khám', CAST(N'2010-06-10' AS Date), CAST(N'07:30:00' AS Time))
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [Status], [AppointmentDate], [AppointmentTime]) VALUES (2, 2, 1, N'Đã khám', CAST(N'2010-05-10' AS Date), CAST(N'07:15:00' AS Time))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillID], [AppointmentID], [TotalAmount], [PaymentStatus], [CreatedAt]) VALUES (1, 1, CAST(1390000.000 AS Decimal(15, 3)), N'Đã thanh toán', CAST(N'2010-06-10T10:00:00.000' AS DateTime))
INSERT [dbo].[Bills] ([BillID], [AppointmentID], [TotalAmount], [PaymentStatus], [CreatedAt]) VALUES (2, 2, CAST(570000.000 AS Decimal(15, 3)), N'Đã thanh toán', CAST(N'2010-05-10T08:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Diagnoses] ON 

INSERT [dbo].[Diagnoses] ([DiagnosisID], [AppointmentID], [Symptoms], [Diagnosis], [Prescription]) VALUES (1, 1, N'Nóng lạnh toàn thân', N'Sốt xuất huyết', N'Nhập viện theo dõi, truyền dịch y tế(500ml)')
INSERT [dbo].[Diagnoses] ([DiagnosisID], [AppointmentID], [Symptoms], [Diagnosis], [Prescription]) VALUES (2, 2, N'Đau mỏi chân phải', N'Gãy chân', N'Nhập viện theo dõi, băng bó nẹp y tế(20cmx3cm)')
SET IDENTITY_INSERT [dbo].[Diagnoses] OFF
GO
INSERT [dbo].[Diagnoses_Services] ([DiagnosisID], [ServiceID], [CreatedAt], [ServiceResultReport], [UserIDperformed], [RoomID]) VALUES (1, 1, CAST(N'2010-06-10T07:35:00.000' AS DateTime), N'Nhịp tim: 200 lần / phút, Huyết áp: 85', 6, 1)
INSERT [dbo].[Diagnoses_Services] ([DiagnosisID], [ServiceID], [CreatedAt], [ServiceResultReport], [UserIDperformed], [RoomID]) VALUES (1, 3, CAST(N'2010-06-10T07:45:00.000' AS DateTime), N'Hông cầu 80%, Bạch cầu 0,05%, ... -> Lượng Bạch cầu trong máu thấp', 7, 3)
INSERT [dbo].[Diagnoses_Services] ([DiagnosisID], [ServiceID], [CreatedAt], [ServiceResultReport], [UserIDperformed], [RoomID]) VALUES (1, 4, CAST(N'2010-06-10T08:45:00.000' AS DateTime), N'Chỉ số SR trong nước tiểu thấp', 8, 4)
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [UserID], [Specialization]) VALUES (1, 3, N'Nội khoa')
INSERT [dbo].[Doctors] ([DoctorID], [UserID], [Specialization]) VALUES (2, 4, N'Ngoại Khoa')
INSERT [dbo].[Doctors] ([DoctorID], [UserID], [Specialization]) VALUES (8, 32, NULL)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [Unit], [Price], [StockQuantity]) VALUES (1, N'Thuốc hạ sốt PARATOL', N'Thuốc', CAST(150000.000 AS Decimal(15, 3)), 879)
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [Unit], [Price], [StockQuantity]) VALUES (2, N'Dịch y tế(500ml)', N'Dịch', CAST(115000.000 AS Decimal(15, 3)), 10089)
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [Unit], [Price], [StockQuantity]) VALUES (3, N'Nẹp y tế(20cmx3cm)', N'Nẹp', CAST(80000.000 AS Decimal(15, 3)), 879)
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [UserID], [DOB], [Phone], [Address]) VALUES (1, 5, CAST(N'1990-05-20' AS Date), N'84987654321', N'123 Đường A, Xã A, Quận A, Tp.A')
INSERT [dbo].[Patients] ([PatientID], [UserID], [DOB], [Phone], [Address]) VALUES (2, 6, CAST(N'2000-01-01' AS Date), N'84123456789', N'456 Đường B, Xã A, Quận A, Tp.B')
INSERT [dbo].[Patients] ([PatientID], [UserID], [DOB], [Phone], [Address]) VALUES (9, 22, CAST(N'1990-05-20' AS Date), N'84987654325', N'789 Đường C, Xã M, Quận E, Tp.K')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([PrescriptionID], [DiagnosisID], [MedicineID], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[Prescriptions] ([PrescriptionID], [DiagnosisID], [MedicineID], [Quantity]) VALUES (2, 1, 2, 6)
INSERT [dbo].[Prescriptions] ([PrescriptionID], [DiagnosisID], [MedicineID], [Quantity]) VALUES (3, 2, 3, 4)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (1, N'Phòng khám 1')
INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (2, N'Phòng khám 2')
INSERT [dbo].[Room] ([RoomID], [RoomName]) VALUES (3, N'Phòng xét nghiệm máu 1')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Price], [ServiceParentID], [Type]) VALUES (1, N'Khám bệnh', CAST(100000.000 AS Decimal(15, 3)), NULL, N'Lâm sàng')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Price], [ServiceParentID], [Type]) VALUES (2, N'Chụp X-quang toàn thân', CAST(150000.000 AS Decimal(15, 3)), NULL, N'Cận lâm sàng')
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Price], [ServiceParentID], [Type]) VALUES (3, N'Xét nghiệm máu', CAST(175000.000 AS Decimal(15, 3)), NULL, N'Cận lâm sàng')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [ImageUrl]) VALUES (2, N'Nguyễn Văn Lễ Tân', N'lt@gmail.com', N'123456', N'Lễ tân', CAST(N'2025-04-13T17:35:25.333' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [ImageUrl]) VALUES (3, N'Nguyễn Văn Bác Sĩ A', N'bsa@gmail.com', N'123456', N'Bác sĩ', CAST(N'2025-04-13T17:35:25.333' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [ImageUrl]) VALUES (4, N'Nguyễn Văn Bác Sĩ B', N'bsb@gmail.com', N'123456', N'Bác sĩ', CAST(N'2025-04-13T17:35:25.333' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkSchedules] ON 

INSERT [dbo].[WorkSchedules] ([WorkScheduleID], [StartTime], [EndTime], [StartDate], [EndDate], [DoctorID]) VALUES (1, CAST(N'07:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'2010-06-10' AS Date), CAST(N'2030-06-10' AS Date), 1)
INSERT [dbo].[WorkSchedules] ([WorkScheduleID], [StartTime], [EndTime], [StartDate], [EndDate], [DoctorID]) VALUES (2, CAST(N'07:00:00' AS Time), CAST(N'16:00:00' AS Time), CAST(N'2010-06-10' AS Date), CAST(N'2030-06-10' AS Date), 2)
SET IDENTITY_INSERT [dbo].[WorkSchedules] OFF
GO
/****** Object:  Index [UQ__Doctors__1788CCADF30BC368]    Script Date: 17-May-25 12:41:34 ******/
ALTER TABLE [dbo].[Doctors] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Patients__1788CCAD911A3D07]    Script Date: 17-May-25 12:41:34 ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E3A6E70D]    Script Date: 17-May-25 12:41:34 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (N'Đã đặt') FOR [Status]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (N'Chưa thanh toán') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Diagnoses_Services] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Diagnoses]  WITH CHECK ADD FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Diagnoses_Services]  WITH CHECK ADD FOREIGN KEY([DiagnosisID])
REFERENCES [dbo].[Diagnoses] ([DiagnosisID])
GO
ALTER TABLE [dbo].[Diagnoses_Services]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Diagnoses_Services]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Diagnoses_Services]  WITH CHECK ADD FOREIGN KEY([UserIDperformed])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([DiagnosisID])
REFERENCES [dbo].[Diagnoses] ([DiagnosisID])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([ServiceParentID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[WorkSchedules]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedules_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[WorkSchedules] CHECK CONSTRAINT [FK_WorkSchedules_Doctors]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([Status]=N'Đã khám' OR [Status]=N'Đang chờ' OR [Status]=N'Đã đặt'))
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD CHECK  (([PaymentStatus]=N'Đã thanh toán' OR [PaymentStatus]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]=N'Kỹ thuật viên' OR [Role]=N'Bệnh nhân' OR [Role]=N'Bác sĩ' OR [Role]=N'Lễ tân' OR [Role]=N'Admin'))
GO
