<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (routeData.PageType == typeof(Pages.Index) ||
                  routeData.PageType == typeof(Pages.Login) ||
                  routeData.PageType == typeof(Pages.Register))
            {
                <!-- Các trang không yêu cầu xác thực -->
                <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
            }
            else
            {
                <!-- Các trang yêu cầu xác thực -->
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
                    <NotAuthorized>
                        <p>Bạn không có quyền truy cập vào trang này.</p>
                        <NavLink href="/login">Login</NavLink>
                    </NotAuthorized>
                </AuthorizeRouteView>
            }
        </Found>
        <NotFound>
            <p>Không tìm thấy trang</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>