@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                
                <NotAuthorized>
                    <div class="text-center">
                        <h3>Bạn không có quyền truy cập vào trang này!</h3>
                        <NavLink href="/login">Login</NavLink>
                    </div>
                </NotAuthorized>
               
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <p>Không tìm thấy trang.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
